Base_Proyecto_Semana_5.md
Guia_Estudio_Examen.md
Historial_Alex_Orchestrator.md
Historial_Alex_Shen.md
Taller_Semana_5.md
Transcripción_Enganchar_S5.md
Problems.md
Test_Error_1.md
Notas_Explicar_G5.md

/build/
/.gradle/
/out/
/bin/
/archivos/

gradle/wrapper/*.jar
!gradle/wrapper/gradle-wrapper.jar

/.idea/
*.iml
.vscode/

.DS_Store
Thumbs.db

/target/
/site/
